<!doctype html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Document Title, Description, and Author -->
    <title>Project 1 - Bootstrap Brain Component</title>
    <meta name="description" content="Project 1 - Bootstrap Brain Component" />
    <meta name="author" content="BootstrapBrain" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="../../../build/bsb-pro.css" />
  </head>
  <body>
    <!-- Main -->
    <main id="main">

      <!-- Project 1 - Bootstrap Brain Component -->
      <section class="bg-light py-5 py-xl-8">
        <div class="container mb-5 mb-md-6">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
              <h2 class="mb-4 display-5">Our Projects</h2>
              <p class="text-secondary mb-4 mb-md-5">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque et neque id ligula mattis commodo.</p>
              <hr class="w-50 mx-auto mb-0 text-secondary">
            </div>
          </div>
        </div>

        <div class="container overflow-hidden">
          <div class="row gy-3 gy-md-2 bsb-project-1-grid">
            <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
              <figure class="rounded rounded-4 overflow-hidden bsb-hover-overlay">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-img-1.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Charming Concept</h3>
                  <div class="text-white bsb-hover-fadeInRight">Photography</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-6 bsb-project-1-item">
              <figure class="rounded rounded-4 overflow-hidden bsb-hover-overlay">
                <a href="#!">
                  <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="./assets/img/project-img-2.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInUp">Linear Architecture</h3>
                  <div class="text-white bsb-hover-fadeInDown">Inspiration</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
              <figure class="rounded rounded-4 overflow-hidden bsb-hover-overlay">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-img-3.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Endless Looks</h3>
                  <div class="text-white bsb-hover-fadeInRight">Nature</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
              <figure class="rounded rounded-4 overflow-hidden bsb-hover-overlay">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-img-4.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Sleek Typography</h3>
                  <div class="text-white bsb-hover-fadeInRight">Design</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
              <figure class="rounded rounded-4 overflow-hidden bsb-hover-overlay">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-img-5.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Ebony Vintage</h3>
                  <div class="text-white bsb-hover-fadeInRight">Fashion</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
              <figure class="rounded rounded-4 overflow-hidden bsb-hover-overlay">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-img-6.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Orange Shine</h3>
                  <div class="text-white bsb-hover-fadeInRight">Food</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
              <figure class="rounded rounded-4 overflow-hidden bsb-hover-overlay">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-img-7.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Boat Adventure</h3>
                  <div class="text-white bsb-hover-fadeInRight">Health</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
              <figure class="rounded rounded-4 overflow-hidden bsb-hover-overlay">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-img-8.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Offroad Moves</h3>
                  <div class="text-white bsb-hover-fadeInRight">Nature</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
              <figure class="rounded rounded-4 overflow-hidden bsb-hover-overlay">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-img-9.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Cozy Occupancy</h3>
                  <div class="text-white bsb-hover-fadeInRight">Design</div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- Javascript Files: Vendors -->
    <script src="./assets/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="./assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="./assets/vendor/isotope/packery-mode.pkgd.min.js"></script>

    <!-- Javascript Files: Controllers -->
    <script src="./assets/controller/project-1.js"></script>
  </body>
</html>
