<!doctype html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Document Title, Description, and Author -->
    <title>Project 2 - Bootstrap Brain Component</title>
    <meta name="description" content="Project 2 - Bootstrap Brain Component" />
    <meta name="author" content="BootstrapBrain" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="../../../build/bsb-pro.css" />
  </head>
  <body>
    <!-- Main -->
    <main id="main">

      <!-- Project 2 - Bootstrap Brain Component -->
      <section class="bg-light py-5 py-xl-8">
        <div class="container mb-5 mb-md-6">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
              <h2 class="mb-4 display-5">Our Projects</h2>
              <p class="text-secondary mb-4 mb-md-5">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque et neque id ligula mattis commodo.</p>
              <hr class="w-50 mx-auto mb-0 text-secondary">
            </div>
          </div>
        </div>

        <div class="container overflow-hidden">
          <div class="row gy-2 g-md-2 g-xl-3 bsb-project-2-grid">
            <div class="col-12 col-md-4 bsb-project-2-item">
              <figure class="rounded rounded-3 overflow-hidden bsb-hover-overlay m-0">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-landscape-1.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Canvas Lover</h3>
                  <div class="text-white bsb-hover-fadeInRight">Photography</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-4 bsb-project-2-item">
              <figure class="rounded rounded-3 overflow-hidden bsb-hover-overlay m-0">
                <a href="#!">
                  <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="./assets/img/project-portrait-1.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInUp">Red Lava</h3>
                  <div class="text-white bsb-hover-fadeInDown">Nature</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-4 bsb-project-2-item">
              <figure class="rounded rounded-3 overflow-hidden bsb-hover-overlay m-0">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-landscape-2.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Jungle Book</h3>
                  <div class="text-white bsb-hover-fadeInRight">Adventure</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-4 bsb-project-2-item">
              <figure class="rounded rounded-3 overflow-hidden bsb-hover-overlay m-0">
                <a href="#!">
                  <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="./assets/img/project-portrait-2.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInUp">Wavy Road</h3>
                  <div class="text-white bsb-hover-fadeInDown">Adventure</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-4 bsb-project-2-item">
              <figure class="rounded rounded-3 overflow-hidden bsb-hover-overlay m-0">
                <a href="#!">
                  <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="./assets/img/project-portrait-3.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInUp">Golden Leaves</h3>
                  <div class="text-white bsb-hover-fadeInDown">Photography</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-4 bsb-project-2-item">
              <figure class="rounded rounded-3 overflow-hidden bsb-hover-overlay m-0">
                <a href="#!">
                  <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="./assets/img/project-portrait-4.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInUp">Minimal Notions</h3>
                  <div class="text-white bsb-hover-fadeInDown">Design</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-4 bsb-project-2-item">
              <figure class="rounded rounded-3 overflow-hidden bsb-hover-overlay m-0">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-landscape-3.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Bright Winks</h3>
                  <div class="text-white bsb-hover-fadeInRight">Design</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-12 col-md-4 bsb-project-2-item">
              <figure class="rounded rounded-3 overflow-hidden bsb-hover-overlay m-0">
                <a href="#!">
                  <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="./assets/img/project-landscape-4.jpg" alt="">
                </a>
                <figcaption>
                  <h3 class="text-white bsb-hover-fadeInLeft">Innovative Day</h3>
                  <div class="text-white bsb-hover-fadeInRight">Photography</div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- Javascript Files: Vendors -->
    <script src="./assets/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="./assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="./assets/vendor/isotope/packery-mode.pkgd.min.js"></script>

    <!-- Javascript Files: Controllers -->
    <script src="./assets/controller/project-2.js"></script>
  </body>
</html>
